version: "2"

services:
 mysqldb:
   image: mysql:5.7
   restart: unless-stopped
   environment:
     - MYSQL_DATABASE=tpachato
     - MYSQL_ALLOW_EMPTY_PASSWORD=yes
   ports:
      - "3306:3306"
   volumes:
      - db:/var/lib/mysql
   networks:
      - common-network
 app:
   container_name: spring
   image: houaidaa/devops_project_5ds1group5:latest
   depends_on:
     - mysqldb
   build: .
   restart: on-failure
   ports:
     - "8089:8089"
   environment:
     SPRING_APPLICATION_JSON: '{
       "spring.datasource.url"  : "jdbc:mysql://mysqldb:3306/tpachato?useSSL=false",
       "spring.datasource.username" : "root",
       "spring.datasource.password" : "",
       "spring.jpa.properties.hibernate.dialect" : "org.hibernate.dialect.MySQL5InnoDBDialect",
       "spring.jpa.hibernate.ddl-auto" : "update"}'
   stdin_open: true
   tty: true
   networks:
      - common-network
networks:
    common-network:
        driver: bridge



volumes:
 db:
