version: "3"
services:
 sonarqube:
  image: sonarqube:8.9.7-community
  ports:
   - "9000:9000"
   - "9092:9092"
  volumes:
    - sonarqube_conf:/opt/sonarqube/conf
    - sonarqube_extensions:/opt/sonarqube/extensions
    - sonarqube_data:/opt/sonarqube/data
 nexus:
  image: sonatype/nexus3
  ports:
  - "8081:8081"
  volumes:
   - "nexus-data:/nexus-data"
volumes:
  grafana-data:
volumes:
 sonarqube_data: {}
 sonarqube_extensions: {}
 sonarqube_conf: {}
 nexus-data: {}